<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: apple
  Date: 01/04/2018
  Time: 15:29
-->
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>Title</title>
</h:head>

<h:body>
    <h:form>
        <h:dataTable value="#{orderBean.orders}" var="o" >

            <h:column>
                <f:facet name="header">Order No</f:facet>
                <h:inputText value="#{o.orderNo}" rendered="#{o.editable}" />
                <h:outputText value="#{o.orderNo}" rendered="#{not o.editable}" />
            </h:column>

            <h:column>
                <f:facet name="header">Order Name</f:facet>
                <h:inputText value="#{o.orderName}" rendered="#{o.editable}" />
                <h:outputText value="#{o.orderName}" rendered="#{not o.editable}" />
            </h:column>

            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:commandLink value="Save" action="#{orderBean.saveAction(o)}" rendered="#{o.editable}" />
                <h:commandLink value="Edit" action="#{orderBean.editAction(o)}" rendered="#{not o.editable}" />
            </h:column>

        </h:dataTable>
    </h:form>
</h:body>

</html>